/*File Name: index.css*/
/*Author: Ryan Fabek*/
/*Project: Personal Website*/

/*Import Statements*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

/*Wrapper Class for CSS Grid*/
.wrapper {

  /*CSS Grid Attributes*/
  display: grid;

  grid-template-columns: 100%;

  grid-template-areas:
    "C";
  grid-row-gap: auto;



}


#animation {


  z-index: 1;
  position: relative;
  top: -90px;


}






.wrapper-project {

display: grid;

grid-template-columns: 33% 33% 33%;

grid-template-areas:
  "project project project";

grid-row-gap: 20px;
grid-column-gap: 20px;

padding-left: 10px;
padding-right: 40px;

}


.wrapper-skills {

display: grid;

grid-template-columns: 33% 33% 33%;

grid-template-areas:
  "project project project";

grid-row-gap: 20px;
grid-column-gap: 20px;

padding-left: 10px;
padding-right: 40px;

}


.wrapper-experience {


  display: grid;
  grid-template-columns: 50% 50%;

  grid-template-areas:
    "job job";

    grid-row-gap: 40px;
    grid-column-gap: 40px;
}




/*Content section of website*/
.Content {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: C;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #242939;
}

/*Menu Section of website*/



#profile {

  background-color: #235789;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 300px;
  position: relative;
  top: -700px;
  z-index: 2;



}



/*General elements*/
body, html {

  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #242939;

}


a {

  text-decoration: none;
  color: black;
}

h1, h2,h3,h4 {

  font-family: 'Roboto', sans-serif;

}

p,li {

  font-family: "Roboto", sans-serif;
  z-index: 2;

}

/*Child Elements*/


/*Navigation bar attributes*/
#navlist {

  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 70px;
  z-index: 2;




}

.navitem, a {

  font-size: 13pt;
  color: white;

  padding-bottom: 10px;
  padding-right: 20px;
  float: right;
  position: relative;
  z-index: 2;

}



#About {

  background-color: #235789;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 20px;

}

/*Animation for navitems*/

/*Attributes for Github image*/
#img-github {

  height: 40px;
  width: 40px;

}

/*Attributes for Github image*/
#img-resume {

  height: 40px;
  width: 40px;

}
/*Attributes for Github image*/
#img-linkedin {

  height: 40px;
  width: 40px;

}

/*Attributes for profile image*/
#profile-pic {

  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 5px black groove;



}
/*Attributes for name below profile picture*/
#menu-name {

  justify:center;

}


.job {

  background-color: #235789;
  border-radius: 15px;




}

.project {

  background-color: lightblue;
  padding-top: 20px;
  border-radius: 10px;



}


.project:hover {

  animation-name: project-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;



}

.skill {

  background-color: yellow;
  border-radius: 15px;


}

/*Animation for project tiles*/

@keyframes project-animation {

  from{box-shadow: 0px 0px;}
  to{box-shadow: 1px 1px;}

}

.image-project {


  height: 100px;
  width: 100px;
}

#project-UPCMS {

  grid-area: project;
  grid-row-start: 0;
  grid-row-end: 1;

  grid-column-start: 0;
  grid-column-end: 1;

}
