/*File Name: index.css*/
/*Author: Ryan Fabek*/
/*Project: Personal Website*/

/*Import Statements*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

/*Wrapper Class for CSS Grid*/
.wrapper {

  /*CSS Grid Attributes*/
  display: grid;

  grid-template-columns: 20% auto;

  grid-template-areas:
    "M C";
  grid-row-gap: auto;
  margin: 0px;



}


.wrapper-project {

display: grid;

grid-template-columns: 33% 33% 33%;

grid-template-areas:
  "project project project";

grid-row-gap: 20px;
grid-column-gap: 20px;

padding-left: 10px;
padding-right: 40px;

}


.wrapper-experience {


  display: grid;
  grid-template-columns: 50% 50%;

  grid-template-areas:
    "job job";
}

/*Content section of website*/
.Content {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: C;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #D9D9D9;
}

/*Menu Section of website*/
.Menu {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: M;
  justify-content: center;
  align-items: center;
  border-right: 3px black groove;
  border-bottom: 3px black groove;
  text-align: center;
  top: 0;
  height: 100%;
  width:20%;
  box-sizing: border-box;
  /*background-color: #4484CE;*/
  position: fixed;
  z-index: 500;


}

#Menu-animation{

  height: 100%;
  width: 20%;
  position: fixed;

}


/*General elements*/
body, html {

  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;

}


a {

  text-decoration: none;
  color: black;
}

h1, h2,h3,h4 {

  font-family: 'Tomorrow', sans-serif;

}

p,li {

  font-family: "Roboto", sans-serif;

}

/*Child Elements*/


/*Navigation bar attributes*/
#navlist {

  list-style-type: none;
  padding-top: 10px;
  right: 20px;
  position: relative;
  z-index: -9999;



}

.navitem {

  font-size: 15pt;
  color: black;

  padding-bottom: 10px;

}

.navitem:hover {




}

/*Animation for navitems*/

/*Attributes for Github image*/
#img-github {

  height: 40px;
  width: 40px;

}

/*Attributes for Github image*/
#img-resume {

  height: 40px;
  width: 40px;

}
/*Attributes for Github image*/
#img-linkedin {

  height: 40px;
  width: 40px;

}

/*Attributes for profile image*/
#profile-pic {

  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 5px black groove;



}
/*Attributes for name below profile picture*/
#menu-name {

  justify:center;

}


.job {

  background-color: lightgreen;



}

.project {

  background-color: lightblue;
  padding-top: 20px;
  border-radius: 10px;
  border: 3px black groove;



}


.project:hover {

  animation-name: project-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;



}

/*Animation for project tiles*/

@keyframes project-animation {

  from{box-shadow: 0px 0px;}
  to{box-shadow: 5px 10px;}

}

.image-project {


  height: 100px;
  width: 100px;
}

#project-UPCMS {

  grid-area: project;
  grid-row-start: 0;
  grid-row-end: 1;

  grid-column-start: 0;
  grid-column-end: 1;

}
